body{
	min-height:900px; 
	background-color: #333333;
}

.topnav h1{
	color: #333;
    font-weight: 900;
    font-size: 65px;
	margin: 0px;

}

.topnav{
	background-color: #00e68a;
	border-radius: 10px;
}

.content{
	padding-bottom: 100%;
}


.content{
	background-color: #f6f6f6;
}

*{
    font-family: courier;
}

table, th, td {
	border-collapse: collapse;
	border: 1px solid #ddd;
}

th, td {
  border-bottom: 1px solid #888;
    padding: 5px;
  text-align: left;
}

tr:hover {background-color: #f5f5f5;}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f1f1f1;
  border-bottom: 1px solid #bbb;

  
}

li{
	float: left;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;

}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}